<div class="container">
    <h2>Edit Musician Form</h2><hr><br>

    <% if flash[:errors]%>
      <h2> There was an error with your form. See below for details.</h2><br>
    <% end%>


    <%= form_for(@musician) do |f| %>
      <%= f.label "Stage Name: " %>
      <%= f.text_field :stage_name %> <br>
      <%= f.label :location, "In which city are you based?: " %>
      <%= f.text_field :location %> <br>
      <%= f.label "Bio: "%>
      <%= f.text_field :bio %> <br>

      <% if flash[:errors]%>
        <% if flash[:errors].keys.include?("instrument_ids") %>
          <%="You're a musician! You must play at least one of these! Make sure at least one is selected." %> <br>
        <% end %>
      <% end %>
      Instruments: <br>
      <%= f.collection_check_boxes :instrument_ids, @instruments, :id, :name%> <br>

      <%= f.submit %>
    <% end %><br><hr>

    Changed your mind? You could look at a <%= link_to 'list of existing Musicians', '/musicians' %> instead, or even a <%= link_to 'list of existing Bands', '/bands' %>. It's up to you, really. The world is your oyster, demand some pearls!
</div>
