<h2>New Musician Form</h2><hr>

<% if flash[:errors]%>
  <h2> There was an error with your form. See below for details.</h2><br>
<% end%>

<%= form_for(@musician) do |f| %>
  <%= f.label :stage_name %>
  <%= f.text_field :stage_name %> <br>
  <%= f.label :location, "Which city are you looking to join a band in?" %>
  <%= f.text_field :location %> <br>
  <%= f.label :bio%>
  <%= f.text_field :bio %> <br>


  <% if flash[:errors]%>
    <% if flash[:errors].keys.include?("instrument_ids") %>
      <%="You're a musician! You must play at least one of these! Make sure at least one is selected." %> <br>
    <% end %>
  <% end %>

  <%= f.label "Select your instruments: "%><br>
  <%= f.collection_check_boxes :instrument_ids, @instruments, :id, :name %><br>
  <%= f.submit "I MAKE MUSIC, LET ME SHINE!" %>
<% end %>
