<h1>GADZOOKS! As a caterpillar is to a butterfly, you, oh <%= @user.full_name %>, have pupated from a mere User and into your own, fully-fledged Musician
    <% if @musician.stage_name != nil %>
      known forever more as <%= @musician.stage_name %>!
    <% else %>
      !
      <% end %>
    Isn't that just excellent news?</h1><hr><hr>

<h3>This means you can start or join a Band now. The good news just keeps on coming, eh?</h3><br>

Later in this sentence is the place to click to <%= link_to "create a new Band", new_band_path %>, get cracking and you'll be a household name in no time!<br>

Alternatively, click <%= link_to 'here', '/musicians' %> for a list of all your fellow musicians, while in <%= link_to 'this other place', '/bands' %> is a list of all the bands on Bandroid. Awesome.<br>

Finally, you can also click through to <%= link_to 'edit your Musician details', edit_musician_path %>, should you want to.
