<h1>Welcome, <%= @user.full_name %>, to your very own Bandroid user profile page!</h1><hr>

<% if @user.musician %>
  <h3> Is "<%= @user.full_name %>" a little too formal for your tastes?</h3><br>
  No problem, just click through to your <%= link_to "Musician profile page", @user.musician %>.<br><br>

<% else %>

  <h3> Is "<%= @user.full_name %>" a little too formal for your tastes?</h3><br>
  Well, not to worry; once you create your Musician profile, you can give yourself a Stage Name, which can be anything you like really (even *shock horror* keeping your ditchwater-dull real name!).<br><br>

  Where do I create my Musician profile, I hear you asking? Do it <%= link_to "HERE", new_musician_path %>, innit.<br><br>
<% end %>

Alternatively, click <%= link_to 'here', '/musicians' %> for a list of all your fellow musicians, while in <%= link_to 'this other place', '/bands' %> is a list of all the bands on Bandroid. Awesome.
