<h2>Here is a list of all Bands on Bandroid - rejoice!</h2><hr>

<ul>
  <% @bands.each do |band| %>
    <h3><li><%= link_to band.name, band %></li></h3>
      <ul>
        <li><h4> Based in <%= band.location %> </h4></li>
      </ul>
    <% end %>
</ul><br><hr>

You could join one of those, or click through to <%= link_to "create a new Band", new_band_path %>, and get to dictate musical direction yourself. Could be preferable.<br><hr>

Equally, if you do start your own Band, you may need some Musicians to join you in your endeavours, and a list of such musical prodigies as you need can be found here: <%= link_to 'SHOW ME MUSOS PLEASE!', '/musicians' %><br><br>

<%= form_tag band_path do%>
  <%= text_field_tag :num_of_musicians %>
  <%= submit_tag "Make New Band" %>
  <%# hidden_field_tag :authenticity_token, form_authenticity_token %>
<% end %>


