<div class="container">
    <h2>New Band Form</h2><hr><br>

    <%= form_for(@band) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %> <br>
      <%= f.label :location, "Where is this band based?" %>
      <%= f.text_field :location %> <br>
      <%= f.label :bio%>
      <%= f.text_field :bio %> <br>

      <%= f.fields_for :band_musicians do |bm| %>
        <%= bm.label :role %>
        <%= bm.text_field :role %>

        <%= bm.label 'Musician' %>
        <%= bm.collection_select :musician_id, @musicians, :id, :stage_name %>
        <br>
      <% end %>

      <br>
      <%= f.submit "WE'RE A BAND, NOT BANNED!" %>
    <% end %><br><hr>

    Changed your mind? You could look at a <%= link_to 'list of existing Bands', '/bands' %> instead, or even a <%= link_to 'list of existing Musicians', '/musicians' %>. It's up to you, really. The world is your oyster, demand some pearls!
</div>
