<!DOCTYPE html>
<html>
  <head>
    <title>Bandroid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash[:errors] %>
      <ul>
        <% flash[:errors].each do |e|  %>
          <li style="color: red;"><%= e %></li>
        <% end %>
      </ul>
    <% end %>

    <% if flash[:authorized] %>
      <p> <%= flash[:authorized] %> </p>
    <% end %>
      
    <h1>B A N D R O I D</h1> 
    <h4>Making the world a better place, a band at a time</h4>
    <hr><hr>

    <%= yield %>




  </body>
</html>
