<!DOCTYPE html>
<html>
  <head>
    <title>Bandroid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="Navbar">

      <h1>B A N D R O I D</h1>
      <h4><%= link_to "Home", root_path %> ::
        <%= link_to "Sign Up", signup_path %> ::
        <%= link_to "Log In", login_path %> ::
        <%= link_to "Log Out", logout_path %> ::
        <%= link_to "Inspire Me!", href="https://giphy.com/gifs/motivationalgif-xT4uQCnq6bDx8itLhK/fullscreen" %></h4> <hr><hr>
    </div>

    <% if flash[:errors] %>
      <ul>
        <% flash[:errors].each do |e|  %>
          <li style="color: red;"><%= e %></li>
        <% end %>
      </ul>
    <% end %>



   <% if flash[:authorized] %>
     <p> <%= flash[:authorized] %> </p>
   <% end %>
    <%= yield %>
  </body>
</html>
